## SHOPIFY
NEXT_PUBLIC_LATEST_PRODUCTS_HANDLE=
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_ADMIN_API_ACCESS_TOKEN=

## Google Analytics
NEXT_PUBLIC_GOOGLE_ANALYTITCS_ID=
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=

## DEV
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=rootstrapstore-dev.myshopify.com

## QA
# NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=shopify-case-study-git-qa-shopify-case-study-team.vercel.app

## SHOPIFY API VERSION
NEXT_PUBLIC_SHOPIFY_API_VERSION=2025-10

## CONTENTFUL
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_MANAGEMENT_TOKEN=
