@import 'tailwindcss';

@theme {
  --color-active: #254a96;
  --color-active-outline: #9ebbf3;
  --color-background: #f4f7fa;
  --color-black: #000000;
  --color-dark-grey: #636363;
  --color-dark-violet: #00031a;
  --color-error: #d42f1a;
  --color-focus: #1d76ef;
  --color-grey: #c4c4c4;
  --color-hover: #446cbc;
  --color-light-grey: #e0e0e0;
  --color-links: #076ce0;
  --color-restored: #559f21;
  --color-white: #ffffff;

  --font-DMSans: DMSans;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 28px;
  --font-size-3xl: 36px;
  --font-size-4xl: 72px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  --shadow-1: 0px 0px 18px rgba(0, 0, 0, 0.15);
  --shadow-2: 0px 4px 29px rgba(0, 0, 0, 0.25);
  --shadow-3: 0px 0px 18px rgba(0, 0, 0, 0.05);
  --shadow-4: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);

  --z-index-banner: 60;
  --z-index-dropdown: 70;
  --z-index-hamburger-menu: 80;
  --z-index-header: 60;
  --z-index-modal: 100;
  --z-index-nav-drawer: 90;

  --background-image-auth-bg-image: url('/images/auth-background.png');
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  @font-face {
    font-family: 'DMSans';
    font-weight: 400;
    src: url('/fonts/DMSans-Regular.ttf');
  }

  @font-face {
    font-family: 'DMSans';
    font-weight: 500;
    src: url('/fonts/DMSans-Medium.ttf');
  }

  @font-face {
    font-family: 'DMSans';
    font-weight: 700;
    src: url('/fonts/DMSans-Bold.ttf');
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply font-DMSans;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@media (min-width: 768px) {
  div.extended-header {
    background: linear-gradient(
      0deg,
      white calc(100% - 290px),
      black calc(100% - 290px)
    );
  }
}

.btn {
  @apply rounded-md text-base flex items-center justify-center  outline-1 focus:outline-dashed focus:outline-2 focus:outline-focus hover:bg-hover hover:outline-none disabled:cursor-not-allowed  disabled:text-dark-grey disabled:outline-none active:bg-active active:outline-active-outline active:outline;
}

.btn-primary {
  @apply rounded-md text-base flex items-center justify-center outline-1 focus:outline-dashed focus:outline-2 focus:outline-focus hover:bg-hover hover:outline-none disabled:cursor-not-allowed disabled:text-dark-grey disabled:outline-none active:bg-active active:outline-active-outline active:outline px-5 outline text-white outline-white bg-dark-violet disabled:bg-light-grey;
}

.btn-secondary {
  @apply rounded-md text-base flex items-center justify-center outline-1 focus:outline-dashed focus:outline-2 focus:outline-focus hover:bg-hover hover:outline-none disabled:cursor-not-allowed disabled:text-dark-grey disabled:outline-none active:bg-active active:outline-active-outline active:outline px-5 outline text-black outline-black bg-white hover:text-white active:text-white disabled:bg-light-grey;
}

.dropdown-menu {
  @apply text-white outline-white bg-dark-violet px-4 flex items-center justify-between outline outline-1 focus:outline-dashed focus:outline-2 focus:outline-focus hover:bg-hover hover:outline-none disabled:cursor-not-allowed disabled:bg-light-grey disabled:text-dark-grey disabled:outline-none active:bg-active active:outline-active-outline active:outline;
}

.dropdown-menu-item {
  @apply h-[40px] w-full text-white bg-dark-violet px-4 focus:outline-offset-[-3px] hover:outline-offset-[-3px] active:outline-offset-[-3px] disabled:outline-offset-[-3px] flex items-center focus:outline-dashed focus:outline-2 focus:outline-focus hover:bg-hover hover:outline-none disabled:cursor-not-allowed disabled:bg-light-grey disabled:text-dark-grey disabled:outline-none active:bg-active active:outline-active-outline active:outline;
}

.link-primary {
  @apply text-links text-sm font-bold md:text-base disabled:text-dark-grey hover:underline active:underline active:text-active focus:outline-dashed focus:outline-2 focus:outline-focus focus:rounded-lg focus:px-1.5;
}

.h1 {
  @apply font-bold text-3xl;
}

.h2 {
  @apply font-bold text-xl;
}

.h3 {
  @apply text-xl;
}
