@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  @font-face {
    font-family: 'DMSans';
    font-weight: 400;
    src: url('/fonts/DMSans-Regular.ttf');
  }

  @font-face {
    font-family: 'DMSans';
    font-weight: 500;
    src: url('/fonts/DMSans-Medium.ttf');
  }

  @font-face {
    font-family: 'DMSans';
    font-weight: 700;
    src: url('/fonts/DMSans-Bold.ttf');
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply font-DMSans;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@screen md {
  div.extended-header {
    background: linear-gradient(
      0deg,
      white calc(100% - 290px),
      black calc(100% - 290px)
    );
  }
}

.btn {
  @apply rounded-md text-base flex items-center justify-center  outline-1 focus:outline-dashed focus:outline-2 focus:outline-focus hover:bg-hover hover:outline-none disabled:cursor-not-allowed  disabled:text-dark-grey disabled:outline-none active:bg-active active:outline-active-outline active:outline;
}

.btn-primary {
  @apply btn px-5 outline text-white outline-white bg-dark-violet disabled:bg-light-grey;
}

.btn-secondary {
  @apply btn px-5 outline text-black outline-black bg-white hover:text-white active:text-white disabled:bg-light-grey;
}

.dropdown-menu {
  @apply text-white outline-white bg-dark-violet px-4 flex items-center justify-between outline outline-1 focus:outline-dashed focus:outline-2 focus:outline-focus hover:bg-hover hover:outline-none disabled:cursor-not-allowed disabled:bg-light-grey disabled:text-dark-grey disabled:outline-none active:bg-active active:outline-active-outline active:outline;
}

.dropdown-menu-item {
  @apply h-[40px] w-full text-white bg-dark-violet px-4 focus:outline-offset-[-3px] hover:outline-offset-[-3px] active:outline-offset-[-3px] disabled:outline-offset-[-3px] flex items-center focus:outline-dashed focus:outline-2 focus:outline-focus hover:bg-hover hover:outline-none disabled:cursor-not-allowed disabled:bg-light-grey disabled:text-dark-grey disabled:outline-none active:bg-active active:outline-active-outline active:outline;
}

.link-primary {
  @apply text-links text-sm font-bold md:text-base disabled:text-dark-grey hover:underline active:underline active:text-active focus:outline-dashed focus:outline-2 focus:outline-focus focus:rounded-lg focus:px-1.5;
}

.h1 {
  @apply font-bold text-3xl;
}

.h2 {
  @apply font-bold text-xl;
}

.h3 {
  @apply text-xl;
}
